<% content_for :head do %>
     
   <%#= @pinion.js_url("/assets/js/slider.js") %> 
   <%#= @pinion.js_url("/assets/js/interactions.js") %> 
   <%#= @pinion.js_url("/assets/js/timeSeries.js") %> 
   <%#= @pinion.js_url("/assets/js/mouseover.js") %> 
   <%#= @pinion.js_url("/assets/js/lineGraph.js") %> 

 
    <script>
    //explicity control script load order
    [
      'js/slider.js',
      'js/interactions.js',
      'js/timeSeries.js',
      'js/mouseover.js',
      'js/bargraph.js',
      'js/lineGraph.js',
      'js/addThis.js'
    ].forEach(function(src) {
      var script = document.createElement('script');
      script.src = src;
      script.async = false;
      document.head.appendChild(script);
    });
    
    
        
    
    </script>
    
    <%= @pinion.css_url("/css/lineGraph.css") %>


   
   <!-- <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>-->
  
<% end %>



<div id="controls">

  <div id="filters">
    <span>When were the great</span>
    <select id="categorySelect" class="changeGraph">
    
    </select>
    <span>of history</span>
    <select id="activitySelect" class="changeGraph">
    
    </select>
    <span>?</span>
   <!-- <div id="searchPersonDiv">
      <input type="text" id="searchPerson" name="person" placeholder="Search By Name"/>
      <table id="searchTableDropDown"></table>
    </div>-->
  </div>

 
  
 <!-- <div id="changeGraphTypeSliderDiv">
    <div id="centerDiv">
      <p> View by Hour </p>
      <div id="changeGraphTypeSlider"></div>
      <p> View Aggregate Time Spent </p>
    </div>
  
  </div>
  -->
  <div id="graphWrapper">
    <div id="leftSideDisplay">  
      <div id="clockActivity"></div>
      <div id="clockImg">
        <p id="filterInstruction"> Click to Filter Data by this Selection</p>
      </div>
      <div id="backLevel"><a class="button">Back</a></div>
      <div><a class="button" id="resetButton">Show Data for All Years</a></div>

    </div>
  
    <div id="rightSideDisplay">
      <div id="chosenWrapper">
        <div id="searchPersonDiv">
          <span>Now Showing:</span><input type="text" id="searchPerson" name="person" placeholder="Search By Name"/>
          <table id="searchTableDropDown"></table>
        </div>
        <div id="chosen"></div>
      </div>
      <div class="barGraphWrapper"></div>
    </div>
  </div>
   
  
  
  
 
  <!--
  <input type="radio" name="metric" value="clock"  checked="checked">Clock
  <input type="radio" name="metric" value="donut">Donut-->
  
  <!-- not appicable for current form-->
 <!-- <input type="radio" name="metric" value="absolute">Absolute
  <input type="radio" name="metric" value="percent" checked="checked">Percent-->
  
  
 

  <div id="bottomControls">
    <div id="timeSeries"></div>
    <div id="sliderPanel">
      <div id="dateSlider"></div>
      <div id="slideOptions">
        <span id="slideVal"></span>
        <span id="numberMatches"></span>
      </div>
    </div>
    <div id="timeSeriesNames"></div>
  </div>

</div>






<input type="hidden" id="holdDropValue" value="Philosopher">
<input type="hidden" id="holdDropType" value="Category">

<div id="pop-up">
  <div id="pop-up-title"></div>
  <div id="pop-up-content">
    <table> 
      <tr>
        <td><div id="pop-img"></div></td>
        <td><div id="pop-desc"></div></td>
      </tr> 
    </table>
  </div>
</div>


<!--
   <img id="parabola" src="images/parabola.png"/>
 <svg>
    <clipPath id="mapMask"><img id="parabola" src="images/parabola.png"/>
</clipPath>
  </svg>

-->

